:root {
  --accent: #3498db;
  --secondary: #9b59b6;
  --positive: #2ecc71;
  --negative: #e74c3c;
  --outcomes: #f39c12;
  --lost: #34495e;
  /* Colors from flatuicolors https://flatuicolors.com/palette/defo */
}

.seg {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.bars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  gap: 5px;
  width: 100%;
  box-sizing: border-box;
  min-height: 20vh;

  align-self: stretch;
  border: 2px solid var(--background-hover);
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 8px;
}

.bar {
  height: calc(var(--value) / var(--max) * 90%);
  /* width: 20px; */
  flex: 1 1 100%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--accent);
  position: relative;

  &::before {
    position: absolute;
    content: attr(data-value);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    width: 100%;
    top: 0px;
    left: 50%;
    translate: -50% -100%;
    font-size: 16px;
    font-family: sans-serif;
  }
}


input {
  display: inline-block !important;
  margin-bottom: 0px;
  padding: 0px;
  /* width: 100px !important; */
}

input[type="range"] {
  translate: 0 25%;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
  ;
}

pre {
  font-size: 24px;
}

.die {
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 2em;
  padding: 2px;
  font-weight: bold;
  border-radius: 3px;
}

.die.fa-dice-six {
  color: var(--positive);
}

.die.impacted {
  color: var(--negative);
}

body {
  margin: 0px;
  padding: 16px;
  max-width: unset;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

aside {
  flex-grow: 1;
  min-width: min(100%, max-content);
}

section {
  flex-grow: 5;
  min-width: min(100%, 500px);
  box-sizing: border-box;
}


li {
  display: block;
}

.bells {
  padding-bottom: 30px;
}

.bells .bar {
  background: var(--secondary);
  display: none;

  &::before {
    top: 100%;
    left: 50%;
    translate: -50% 0%;
  }
}

.bells .bar:has(~ .bar[data-value=8]) {
  opacity: .5;
}

section:has([data-type="total"]:target) .bells {
  --max: var(--max-total);
}

section:has([data-type="created"]:target) .bells {
  --max: var(--max-created);
}

section:has([data-type="destroyed"]:target) .bells {
  --max: var(--max-destroyed);
}

section:has([data-type="outcomes"]:target) .bells {
  --max: var(--max-outcomes);
}

section:has([data-type="lost"]:target) .bells {
  --max: var(--max-lost);
}

section:has([data-type="total"]:target) .bells .bar.bar-total {
  display: block;
}

section:has([data-type="created"]:target) .bells .bar.bar-created {
  display: block;
  background: var(--positive);
}

section:has([data-type="destroyed"]:target) .bells .bar.bar-destroyed {
  display: block;
  background: var(--negative);
}

section:has([data-type="outcomes"]:target) .bells .bar.bar-outcomes {
  display: block;
  background: var(--outcomes);
}

section:has([data-type="lost"]:target) .bells .bar.bar-lost {
  display: block;
  background: var(--lost);
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
  justify-content: stretch;
}

.js-view {
  cursor: pointer;
  color: var(--color);
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  scroll-margin-top: 200px;

  &:hover {
    background: var(--button-hover);
  }

  &:target {
    background: var(--color);
    color: var(--text-main);
  }
}

.js-view[data-type="total"] {
  --color: var(--secondary);
}

.js-view[data-type="created"] {
  --color: var(--positive);
}

.js-view[data-type="destroyed"] {
  --color: var(--negative);
}

.js-view[data-type="outcomes"] {
  --color: var(--outcomes);
}

.js-view[data-type="lost"] {
  --color: var(--lost);
}